@tailwind base;
@tailwind components;
@tailwind utilities;

.greet {
  font-size: 5rem;
  font-weight: 700;
  animation: hey 1.2s ease-in-out 1s forwards;
}

.identity {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 2.5s forwards;
}

.scout-button {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 2.5s forwards;
  @apply flex size-auto w-24 items-center gap-x-2 border border-dark-gray bg-transparent px-3 py-2 shadow-xl transition-all duration-300 hover:w-[6.7rem] hover:bg-light/10 hover:shadow-black active:border-light-gray;
}

.name-color {
  background: linear-gradient(to bottom, #9b9b9b, rgb(70, 70, 70));
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow {
  animation: float 2s ease-in-out 1s infinite;

  &:hover {
    animation: none;
  }
}

/* .name {
    @apply text-7xl opacity-100 font-limelight relative;
    animation: none !important;
    position: relative;
    color: transparent;
    font-size: 6rem;
    line-height: 1;
    z-index: -1;
}

.name::after {
    content: "Xron Trix";
    opacity: 0;
    position: absolute;
    background: linear-gradient(to bottom, #9B9B9B, rgb(70, 70, 70));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    z-index: 1;
    animation: name 0.7s ease-in-out 1.5s forwards;
} */

/* ======= ANIMATIONS ======= */

@keyframes hey {
  0% {
    font-size: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    font-size: 2.25rem;
    font-weight: normal;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* @keyframes name {
    0% {
        font-size: 4.5rem;
        opacity: 0;
    }

    100% {
        font-size: 6rem;
        opacity: 1;
    }
} */
