@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #0c0c0c;
  --light: #eeedeb;
  --light-gray: #9b9b9b;
  --dark-gray: rgb(70, 70, 70);
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

::-moz-selection {
  /* Code for Firefox */
  color: var(--light);
  background: #9b9b9b1a;
}

::selection {
  color: var(--light);
  background: #9b9b9b1a;
}

body {
  @apply bg-dark text-light font-mono cursor-main;
}

@layer components {
  button {
    @apply outline-none focus:outline-none !cursor-main;
    border-radius: 0.75rem;
    transition: border-radius 0.4s ease-in-out;

    &:hover {
      border-radius: 2rem;
    }

    &:active {
      @apply shadow-lg scale-95 transition-all duration-300;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
