@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-dark text-light font-mono cursor-main;
}

@layer components {
  button {
    @apply outline-none focus:outline-none !cursor-main;
    /* cursor: url('../assets/circle.svg') 15 15, auto; */
    border-radius: 0.75rem;
    transition: border-radius 0.4s ease-in-out;

    &:hover {
      border-radius: 2rem;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
