@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .question {
    @apply w-full border border-dark-gray/50 px-4 py-3 text-sm shadow-xl rounded-xl transition-all duration-300 group-hover:bg-light/10 group-hover:text-light group-hover:shadow-black 2xl:text-base;
  }

  .command-box {
    @apply flex h-0 items-center justify-between rounded-b-xl bg-gradient-to-t from-light/5 to-transparent text-sm transition-all duration-500 group-hover:h-auto group-hover:p-4 2xl:text-base;
  }

  .command {
    @apply hidden duration-300 group-hover:inline-block;
  }
}

.qn_answer {
  padding-right: 8rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;

  span {
    color: var(--golden-yellow);
  }

  a {
    color: var(--golden-yellow);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    max-width: 40rem;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  h4 {
    margin: 1rem 0;
    color: var(--golden-yellow);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: smaller;
  }

  table th,
  table td {
    border: 1px dashed #9b9b9b7a;
    padding: 8px;
    color: var(--light);
    text-align: left;
  }

  table th {
    color: white;
    font-size: small;
  }
}

.quotes {
  margin-top: 1rem;
  padding: 1rem 2rem;

  a {
    color: var(--golden-yellow);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        color: var(--light-gray);
      }
    }
  }
}
